In [144]:
import pandas as pd

In [156]:
df = pd.read_csv('bquxjob_1e4b9f8_18ecb68271b.csv')

In [157]:
filter_zeros = df[df['A_values'] > 0]

# Calculate the price per unit for non-zero 'A_values' entries
filter_zeros['Avg_Price_Unit'] = filter_zeros['A_values'] / filter_zeros['A_units']

# Compute the average price per unit across the filtered DataFrame
average_price_per_unit = filter_zeros['Avg_Price_Unit'].median()

/var/folders/r3/_3_gt7t977j5g2pn4x4v6x780000gp/T/ipykernel_64890/2571819713.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_zeros['Avg_Price_Unit'] = filter_zeros['A_values'] / filter_zeros['A_units']

In [158]:
average_price_per_unit

52.424139589999996

In [159]:
# Filter data for non-Poland entries
non_poland_data = df[df['Territory_label'] != 'POLAND']
# Only consider rows where 'A_values' are non-zero to avoid distortion in the ratio calculation
non_poland_physical = non_poland_data[(non_poland_data['Format'] == 'PHYSICAL') & (non_poland_data['A_values'] > 0)]
non_poland_digital = non_poland_data[(non_poland_data['Format'] == 'DIGITAL') & (non_poland_data['A_values'] > 0)]

# Calculate total 'A_values' for physical and digital formats
total_physical = non_poland_physical['A_values'].sum()
total_digital = non_poland_digital['A_values'].sum()

# Compute the average ratio of digital to physical sales
if total_physical != 0:
    average_ratio = total_digital / total_physical
else:
    average_ratio = 0  # Avoid division by zero

# Identify Poland's physical sales where 'A_values' is zero
poland_physical_zero = df[(df['Territory_label'] == 'POLAND') & (df['Format'] == 'PHYSICAL') & (df['A_values'] == 0)]

# Calculate the expected 'A_values' using the ratio and 'A_units'
poland_physical_zero['A_values'] = poland_physical_zero['A_units'] * average_ratio * average_price_per_unit

# Update the original DataFrame with the new 'A_values' where previously it was zero
df.update(poland_physical_zero)

# Optionally, if you need to enforce the datatype (e.g., if original A_values were integers)
df['A_values'] = df['A_values'].astype(float)

/var/folders/r3/_3_gt7t977j5g2pn4x4v6x780000gp/T/ipykernel_64890/1963916881.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poland_physical_zero['A_values'] = poland_physical_zero['A_units'] * average_ratio * average_price_per_unit

In [160]:
df['Avg_Price_unit'] = df["A_values"] / df["A_units"]

In [164]:
df.to_csv('clean.csv', index=False)

In [98]:
territory_counts = df.groupby('Territory_label').size()

print(territory_counts)

Territory_label
BENE                        18
CENTRAL EUROPE               9
EASTERN EUROPE               9
FRANCE                      18
GSA                         12
IBERIA                      18
ITALY                       18
LUXEMBOURG                   6
MIDDLE EAST                  9
NORDICS                     18
NORTHERN EUROPE              6
OCEANIA                      9
POLAND                      15
SOUTHERN EUROPE              9
UNITED KINGDOM & IRELAND    15
dtype: int64

In [162]:
poland = df[df['Territory_label'] == 'POLAND']

In [163]:
poland

,Months_since_Release,Format,A_units,A_values,Platform_Label,Territory_label,Avg_Price_unit
16,3,DIGITAL,100,3468.148438,PC,POLAND,34.681484
22,3,DIGITAL,100,3938.625000,PS4,POLAND,39.386250
34,3,DIGITAL,100,3151.069767,XBOX ONE,POLAND,31.510698
48,3,PHYSICAL,100,5713.110686,PS4,POLAND,57.131107
55,3,PHYSICAL,100,5713.110686,XBOX ONE,POLAND,57.131107
77,2,DIGITAL,100,3512.169492,PC,POLAND,35.121695
82,2,DIGITAL,100,4618.996727,PS4,POLAND,46.189967
93,2,DIGITAL,100,3458.633880,XBOX ONE,POLAND,34.586339
115,2,PHYSICAL,100,5713.110686,PS4,POLAND,57.131107
121,2,PHYSICAL,100,5713.110686,XBOX ONE,POLAND,57.131107
137,1,DIGITAL,100,5600.949084,PC,POLAND,56.009491
147,1,DIGITAL,100,7399.483333,XBOX ONE,POLAND,73.994833
160,1,DIGITAL,200,14828.292150,PS4,POLAND,74.141461
176,1,PHYSICAL,100,5713.110686,PS4,POLAND,57.131107
178,1,PHYSICAL,100,5713.110686,XBOX ONE,POLAND,57.131107

In [101]:
iberia = df[df['Territory_label'] == 'IBERIA']

In [102]:
iberia

,Months_since_Release,Format,A_units,A_values,Platform_Label,Territory_label,Avg_Price_unit
9,3,DIGITAL,100,4297.570513,PC,IBERIA,42.975705
29,3,DIGITAL,100,5125.000000,XBOX ONE,IBERIA,51.250000
40,3,DIGITAL,200,9278.082988,PS4,IBERIA,46.390415
45,3,PHYSICAL,100,3458.272727,PC,IBERIA,34.582727
52,3,PHYSICAL,100,6422.285943,XBOX ONE,IBERIA,64.222859
57,3,PHYSICAL,400,24573.912730,PS4,IBERIA,61.434782
67,2,DIGITAL,300,16031.150610,PS4,IBERIA,53.437169
72,2,DIGITAL,100,4279.921519,PC,IBERIA,42.799215
88,2,DIGITAL,100,4635.974747,XBOX ONE,IBERIA,46.359747
108,2,PHYSICAL,600,41125.557720,PS4,IBERIA,68.542596
112,2,PHYSICAL,100,5430.179104,PC,IBERIA,54.301791
118,2,PHYSICAL,100,6871.512265,XBOX ONE,IBERIA,68.715123
127,1,DIGITAL,300,16967.508450,PC,IBERIA,56.558362
146,1,DIGITAL,100,7739.329137,XBOX ONE,IBERIA,77.393291
166,1,DIGITAL,500,36866.403910,PS4,IBERIA,73.732808
170,1,PHYSICAL,2600,201213.869400,PS4,IBERIA,77.389950
173,1,PHYSICAL,100,7298.266771,PC,IBERIA,72.982668
184,1,PHYSICAL,200,15847.986310,XBOX ONE,IBERIA,79.239932

In [104]:
ne = iberia = df[df['Territory_label'] == 'NORTHERN EUROPE']

In [105]:
ne

,Months_since_Release,Format,A_units,A_values,Platform_Label,Territory_label,Avg_Price_unit
14,3,DIGITAL,100,4284.266667,PC,NORTHERN EUROPE,42.842667
21,3,DIGITAL,100,5573.074074,PS4,NORTHERN EUROPE,55.730741
76,2,DIGITAL,100,4485.818182,PC,NORTHERN EUROPE,44.858182
81,2,DIGITAL,100,6429.000000,PS4,NORTHERN EUROPE,64.290000
136,1,DIGITAL,100,5337.230392,PC,NORTHERN EUROPE,53.372304
141,1,DIGITAL,100,7634.964912,PS4,NORTHERN EUROPE,76.349649